{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/plants": {
      "get": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/search": {
      "post": {
        "description": "Search and filter accounts by additional properties, name, or domain with pagination support",
        "requestBody": {
          "description": "Search criteria for accounts",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, missing required fields, or pagination limits out of bounds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Database or server errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/notes": {
      "get": {
        "description": "Retrieve all account notes for the organization with pagination support",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of notes to return",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of notes to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of account notes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNotesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/notes/{account_id}": {
      "get": {
        "description": "Retrieve notes for a specific account with pagination support",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "UUID of the account (company or customer)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of notes to return",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of notes to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "source_specific_id",
            "in": "query",
            "description": "Alternative account identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of account notes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNotesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid account ID or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}": {
      "put": {
        "description": "Enhanced to support contract value and type updates for two-way sync capability",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "UUID of the account",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Account update fields including contract information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid account ID or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CreateAccountNoteRequest": {
        "type": "object",
        "required": [
          "domain",
          "source",
          "source_specific_id",
          "note",
          "original_timestamp",
          "participants"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Domain used to resolve the company (e.g. berkeley.edu)"
          },
          "source": {
            "type": "string",
            "description": "Source system identifier (e.g. gong, salesforce)"
          },
          "source_specific_id": {
            "type": "string",
            "description": "Unique ID for this note in the source system"
          },
          "note": {
            "type": "string",
            "description": "The note content/body"
          },
          "original_timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Meeting time (RFC3339)"
          },
          "participants": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Raw participant emails"
          },
          "title": {
            "type": "string",
            "description": "Optional title for the note"
          },
          "summary": {
            "type": "string",
            "description": "Optional summary"
          },
          "action_items": {
            "type": "string",
            "description": "Optional action items"
          },
          "transcript": {
            "type": "string",
            "description": "Optional full transcript"
          }
        }
      },
      "CreateAccountNoteResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the created/updated note"
          }
        }
      },
      "AccountSearchRequest": {
        "type": "object",
        "properties": {
          "additional_properties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdditionalPropertyFilter"
            },
            "description": "Filter by attribute ID and exact value match"
          },
          "name": {
            "type": "string",
            "description": "Filter by account name (case-insensitive partial match)"
          },
          "domain": {
            "type": "string",
            "description": "Filter by account domain (case-insensitive partial match)"
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 50,
            "description": "Number of results per page"
          },
          "offset": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Number of results to skip"
          }
        }
      },
      "AdditionalPropertyFilter": {
        "type": "object",
        "required": ["name", "value"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Attribute name"
          },
          "value": {
            "type": "string",
            "description": "Exact value to match"
          }
        }
      },
      "AccountSearchResponse": {
        "type": "object",
        "properties": {
          "accounts": {
            "$ref": "#/components/schemas/AccountSearchData"
          }
        }
      },
      "AccountSearchData": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountSearchItem"
            }
          },
          "has_next_page": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "integer"
          }
        }
      },
      "AccountSearchItem": {
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/SearchAccount"
          }
        }
      },
      "SearchAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Account UUID"
          },
          "name": {
            "type": "string",
            "description": "Account name"
          },
          "domain": {
            "type": "string",
            "description": "Account domain"
          },
          "type": {
            "type": "string",
            "enum": ["Company", "Customer"],
            "description": "Account type"
          },
          "attributes_cached": {
            "type": "array",
            "items": {},
            "description": "Cached account attributes"
          }
        }
      },
      "AccountNotesResponse": {
        "type": "object",
        "properties": {
          "notes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountNote"
            },
            "description": "Array of account notes"
          },
          "has_next_page": {
            "type": "boolean",
            "description": "Whether there are more pages of results"
          },
          "next_cursor": {
            "type": "integer",
            "description": "Cursor for the next page of results"
          },
          "total_count": {
            "type": "integer",
            "description": "Total number of notes matching the query"
          }
        }
      },
      "AccountNote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the note"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the note was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the note was last updated"
          },
          "org_id": {
            "type": "string",
            "format": "uuid",
            "description": "Organization ID"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid",
            "description": "Customer ID if applicable"
          },
          "company_id": {
            "type": "string",
            "format": "uuid",
            "description": "Company ID if applicable"
          },
          "source": {
            "type": "string",
            "description": "Source system identifier (e.g., gong, salesforce)"
          },
          "title": {
            "type": "string",
            "description": "Title of the note"
          },
          "note": {
            "type": "string",
            "description": "Content/body of the note"
          },
          "original_timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Original timestamp from source system"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata about the note"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the note is enabled"
          }
        }
      },
      "UpdateAccountRequest": {
        "type": "object",
        "properties": {
          "contract_value": {
            "type": "number",
            "format": "float",
            "description": "Contract value in numeric format"
          },
          "contract_type": {
            "type": "string",
            "enum": ["Month", "Year"],
            "description": "Contract type, must be 'Month' or 'Year'"
          }
        }
      },
      "UpdateAccountResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the updated account"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "API key via Authorization: Basic <API_KEY>"
      }
    }
  }
}